# configuration used by cloudflare_update.sh
zone=yourdomain.com
dnshost=yourhost.yourdomain.com
cloudflare_auth_email=yourmail@yourdomain.com
cloudflare_auth_key=[API Token with Zone.DNS.Edit permission]
